<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Stats
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 text-left">Images:</div>
            <div class="col-md-10 text-right">{{ sidebar.stats.images }}</div>
        </div>
        <div class="row">
            <div class="col-md-2 text-left">Comments:</div>
            <div class="col-md-10 text-right">{{ sidebar.stats.comments }}</div>
        </div>
        <div class="row">
            <div class="col-md-2 text-left">Views:</div>
            <div class="col-md-10 text-right">{{ sidebar.stats.views }}</div>
        </div>
        <div class="row">
            <div class="col-md-2 text-left">Likes:</div>
            <div class="col-md-10 text-right">{{ sidebar.stats.likes }}</div>
        </div>
    </div>
</div>
